
<div class="row sticky-gallery{% if section.settings.thumbnails != 'below' %} thumbnail-vertical-desktop{% endif %}">
  <div class="product-gallery-main">
  {% assign product_image_box_ratio_max = 0 %}
  {% for image in product.images %}
  {% assign image_box_ratio = image.height | append: ".0" | times: 1 | divided_by: image.width | times: 100 %}
  {% if image_box_ratio > product_image_box_ratio_max %}
  {% assign product_image_box_ratio_max = image_box_ratio %}
  {% endif %}
  {% endfor %}
  {% assign product_image_box_ratio_max = product_image_box_ratio_max | append: "%" %}
  {% assign featured_image = current_variant.image | default: product.featured_image %}

  {% capture main_images %}
  <div class="product-main-images">
    <div class="product-image-container">
      {% for image in product.images %}
      {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
      {% assign reduce_height = image.height | times: product_image_box_ratio_max | divided_by: 100 %}
      
      <a data-height="{{ reduce_height }}" class="product-main-image{% if image.id == featured_image.id %} selected{% endif %}" {% if section.settings.click_to_enlarge and template != 'product.quick' %}data-fancybox="images"{% endif %} href="{{ image | image_url: width: 1920 }}" data-image-id="{{ image.id }}">
        <img id="{{ product.id }}"
          class="product__image lazyload lazyload-fade"
          {%- if image.id == featured_image.id or image.id == product.variants[2].image.id or image.id == product.variants[1].image.id or image.id == product.variants[0].image.id %}
            src="{{ image | img_url: '950x' }}"
          {% endif -%}
          data-src="{{ img_url }}"
          data-sizes="auto"
          alt="{{ image.alt | escape }}"
          width="100%"
          height="100%"
          loading="lazy">
      </a>
      {% endfor %}
    </div>
    <p class="tap_to_expand">
      <img src="https://cdn.shopify.com/s/files/1/0602/7195/2115/files/tap-to-expand.svg?v=1636930834" 
        width="100%"
        height="100%"
        loading="lazy" alt="tap to expand"/>
    </p>
  </div>
  {% endcapture %}

  {% if template != 'product.quick' %}
  {% if section.settings.thumbnails == 'left' and section.settings.thumbs_to_show >= 1 and product.images.size > 1 %}
  {% render 'product-thumbnails', axis: 'vertiacal' %}
  {% endif %}

  {{ main_images }}

  {% if section.settings.thumbs_to_show >= 1 and product.images.size > 1 and section.settings.thumbnails == 'right' %}
  {% render 'product-thumbnails', axis: 'vertiacal' %}
  {% endif %}
  {% if section.settings.thumbs_to_show >= 1 and product.images.size > 1 %}
    {% render 'product-thumbnails', axis: 'horizontal' %}
    {% endif %}
  {% endif %}

  {% if template == 'product.quick' %}
  <div class="product-main-images desktop-12 tablet-6 quick-view-images">
    <div class="product-image-container" style="padding-bottom: {{ product_image_box_ratio_max }};">
      {% for image in product.images %}
      {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
      <div class="product-main-image{% if image.id == featured_image.id %} selected{% endif %}" data-thumb="{{ image | img_url: '150x' }}" data-image-id="{{ image.id }}">
        <img id="{{ product.id }}" class="product__image lazyload lazyload-fade"
            {%- if forloop.index > 10 %}
              src="{{ image | img_url: '90x' }}"
            {% endif -%}
             data-src="{{ img_url }}"
             data-sizes="auto"
             data-zoom-src="{{ img_url }}"
             alt="{{ image.alt | escape }}" width="100%"
             height="100%"
             loading="lazy">
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="thumbnail-gallery" class="product-thumbnails desktop-12 tablet-6">
    {% for image in product.images limit: 5 %}
    {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}  
    <div class="product-thumbnail{% if image.id == featured_image.id %} selected{% endif %}" data-image-id="{{ image.id }}">
      <img class="lazyload lazyload-fade"
        data-src="{{ img_url }}"
        data-sizes="auto"
        data-zoom-src="{{ img_url }}"
        alt="{{ image.alt | escape }}"
        width="100%"
        height="100%"
        loading="lazy">     
    </div>
    {% endfor %}
    {% if product.images.size > 5 %}
    <div class="thumbnails all">
      <a href="{{ product.url }}">View All</a>
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>
</div>
