{%- liquid
	assign title = section.settings.title
	assign subtitle = section.settings.subtitle
    assign border_top = section.settings.border_top
    assign border_bottom = section.settings.border_bottom
-%}

<div class="custom-gallery custom-gallery__{{ section.id }}">
  <div class="custom-gallery__wrapper">
    {%- if title != blank and subtitle != blank -%}
    <div class="custom-gallery__header">
      {%- if title != blank -%}
      <h2 class="custom-gallery__title">{{ title }}</h2>
      {%- endif -%}
      {%- if subtitle != blank -%}
      <p class="custom-gallery__subtitle">{{ subtitle }}</p>
      {%- endif -%}
    </div>
    {%- endif -%}
    <div class="custom-gallery__grid">
      {%- for block in section.blocks -%}
      {%- liquid
          assign image = block.settings.image
          assign big_image = block.settings.big_image
      -%}
      <div class="custom-gallery__item{% if big_image %} highlighted{% endif %}">
        <a href="{{ image | img_url: '500x' }}" data-fancybox="custom-gallery">
          <img src="{{ image | img_url: '500x500' , crop: 'center' }}" alt="{{ image.alt | escape }}" width="100%" height="100%" loading="lazy">
        </a>
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>
<style>
  .custom-gallery__{{ section.id }} .custom-gallery__wrapper {
    {% if border_top %}
    border-top: 1px solid #d6d6d6;
    {% endif %}
    {% if border_bottom %}
    border-bottom: 1px solid #d6d6d6;
    {% endif %}
  }
</style>

{% schema %}
  {
    "name": "Custom Gallery",
    "settings": [
		{
			"type": "textarea",
			"id": "title",
			"label": "Title",
			"default": "Custom gallery"
		},
		{
			"type": "textarea",
			"id": "subtitle",
			"label": "Subtitle",  
			"default": "Custom gallery subtitle"
		},
		{
			"type": "checkbox",
			"id": "border_top",
			"label": "Border top",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "border_bottom",
			"label": "Border bottom",
			"default": false
		}
	],
	"blocks": [
		{
			"name": "Image",
			"type": "image",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "image"
				},
				{
					"type": "checkbox",
					"id": "big_image",
					"label": "Big image",
					"default": false
				}
			]
		}
	],
	"presets": [
		{
			"name": "Custom Gallery",
			"blocks": [
				{
					"type": "image",
					"settings": {
						"big_image": true
					}
				},
				{
					"type": "image"
				},
				{
					"type": "image"
				},
				{
					"type": "image"
				},
				{
					"type": "image"
				},
				{
					"type": "image"
				},
				{
					"type": "image"
				},
				{
					"type": "image"
				},
				{
					"type": "image"
				}
			]
		}
	]
  }
{% endschema %}
