<div class="best-cat-g c_section">
  <div class="grid_wrapper">
    <div class="desktop-12 tablet-12 mobile-12 span-12">
      <h2 class="big_title">{{ section.settings.heading }}</h2>
    </div>
  </div>
  <div class="grid_wrapper" id="popular_cat_grid">
    {% for block in section.blocks  %}
    {%- assign collection = collections[block.settings.collection] -%}
    <div class="desktop-6 tablet-6 mobile-6 span-6" {{ block.shopify_attributes }}>
      <div class="popular_cat_item">
        {% if block.settings.collection == blank %}
        {% capture current %}{{ forloop.index }}{% endcapture %}
        {%- assign placeholder = 'collection-' | append: current -%}
        <a href="{{collection.url}}"><div class="collection-image ci onboard">          
          {{ placeholder | placeholder_svg_tag }}
          </div>
        </a>
        {% else %}
        {% include 'collection-grid-item' %}
        {% endif %}
      </div>
    </div>          
    {% endfor %}
  </div>
</div>
{% schema %}
{
"name": "Popular category",
"class": "section",
"max_blocks": 4,
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading",
"default": "Popular category list"
},
{
"type": "range",
"id": "grid",
"min": 2,
"max": 4,
"step": 1,
"label": "Collections per row",
"info": "Grid usage only",
"default": 3
}
],
"blocks": [
{
"type": "featured_collection",
"name": "Collection",
"settings": [
{
"label": "Collection",
"id": "collection",
"type": "collection"
}
]
}
]
}
{% endschema %}
